@font-face {
  font-family: 'HnC-Black';
  src: url('../fonts/HelveticaNeueCyr-Light.ttf');
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HnC-bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.ttf');
  src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Bold.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-Bold.ttf') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HnC-italic';
  src: url('../fonts/HelveticaNeueCyr-Italic.ttf');
  src: url('../fonts/HelveticaNeueCyr-Italic.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Italic.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-Italic.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HnC-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.ttf');
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HnC-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf');
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Roman.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-Roman.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HnC-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.ttf');
  src: url('../fonts/HelveticaNeueCyr-Thin.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-Thin.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-Thin.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HnC-UltraLight';
  src: url('../fonts/HelveticaNeueCyr-UltraLight.ttf');
  src: url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype'),
  url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('woff'),
  url('../fonts/HelveticaNeueCyr-UltraLight.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}