@import "global";
@import "fonts";
@import "var";


.header {
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    content: url("../img/shape_bg.png");

  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 20px;
  margin-bottom: 52px;
}

.header-logo {
  max-width: 250px;

  span {
    font-family: HnC-Thin, sans-serif;
    font-size: 11px;
    padding-left: 28px;
  }
}

.header-menu {
  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
    align-items: center;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all 1s;
    padding-bottom: 5px;

    & + li {
      margin-left: 35px;
    }

    &.menu__dropdown {
      position: relative;
      padding-right: 11px;
      border: none;
      padding-bottom: 5px;

      &::after {
        content: url("../img/arrow.png");
        position: absolute;
        width: 6px;
        height: 3px;
        right: 0;
        top: -2px;
        color: #78b660;
      }

      &:hover {
        border: none;

        .menu__dropdown-box {
          opacity: 1;
          height: 250px;
          overflow: visible;
          padding: 21px 0;
        }
      }
    }

    &:hover {
      border-bottom: 2px solid #78b660;
    }
  }

  a {
    font-size: 14px;
    font-family: HnC-Thin, sans-serif;
    color: #363636;


  }
}

.menu__dropdown-box {
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin-top: 15px;
  flex-direction: column;
  min-width: 250px;
  position: absolute;
  top: 9px;
  background: #dbebd3;
  z-index: 15;

  &::before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #dbebd3;
    position: absolute;
    left: 16px;
    top: -2px;
    transform: rotate(45deg);
  }

  a {
    font-family: HnC-Roman, sans-serif;
  }

  li {
    min-width: 250px;
    padding: 6px 21px;
    border: none;
    position: relative;

    & + li {
      margin: 0;
    }

    &:hover {
      border: none;
      background-color: #fff;

      &::after {
        position: absolute;
        content: url("../img/copy.png");
        width: 8px;
        height: 14px;
        top: 9px;
        right: 21px;
      }

      .menu__dropdown-list {
        opacity: 0.800;
        height: 250px;
        overflow: visible;
        top: -15px;
        left: 250px;
        padding: 15px;
      }
    }
  }
}

.menu__dropdown-list {
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
  height: 0;
  padding: 0;
  flex-direction: column;
  min-width: 250px;
  position: absolute;
  left: 250px;
  top: 20px;
  background-color: rgb(242, 242, 242);

  li {

    &::after {
      content: '';
      display: none;
    }
  }

  a {
    border-bottom: 2px solid transparent;

    &:hover {
      transition: all 1s;
      border-bottom: 2px solid #78b660;


    }
  }
}

.header-box__phone {
  max-width: 161px;

  span {
    margin-left: 36px;
    font-family: HnC-Roman, sans-serif;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }

  a {
    font-family: HnC-Thin, sans-serif;
    font-size: 18px;
  }
}

.slider {
}

.slider__wrapper {
  /*height: 800px;*/
}

.slider-inner-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 652px;
  padding: 5px;
}

.box__content {
  padding-top: 81px;
}

.box__content-text {
  position: relative;
  padding: 0 31px 0 40px;
  margin-left: 63px;
  max-width: 430px;

  h3 {
    margin: 0;
  }

  &::before {
    position: absolute;
    content: url("../img/shape_left.png");
    left: -2px;
    top: 3px;
  }

  &::after {
    position: absolute;
    content: url("../img/shape_right.png");
    right: -2px;
    top: 3px;
  }
}

.inner__text {
  padding: 5px 0 15px 0;

  h3 {
    font-size: 30px;
    font-family: HnC-bold, sans-serif;
    color: #363636;
  }

  p {
    margin-top: 11px;
    margin-bottom: 13px;
    font-size: 23px;
    font-family: HnC-Thin, sans-serif;
    position: relative;
    color: #363636;

    & + p {
      margin: 0;
    }

    span {
      position: absolute;
      margin-left: 13px;
      color: #78b660;
      font-size: 54px;
      font-family: HnC-bold, sans-serif;
    }
  }
}

.box__img-flower {
  position: absolute;
  top: 146px;
  left: -24px;
}

.box__img-girl {
  position: absolute;
  top: 0;
  right: 0;
  width: 448px;
  height: 440px;
}

.slick-dots {
  max-width: 56px;
  display: flex;
  left: 94px;
  bottom: 210px;
}

.slick-dots li button:before {
  font-size: 50px;
  color: #adadad;
}

.slick-dots li.slick-active button:before {
  color: #78b660;
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
  opacity: 1;
  color: #78b660;
}
.footer {
  position: relative;
  &::after {
    content: url("../img/shape_bg-left.png");
    position: absolute;
    bottom: -113px;
  }
}

.text__content {
  position: absolute;
  text-align: center;
  left: 380px;
  right: 380px;
  bottom: 20px;
}
.content__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: HnC-Thin, sans-serif;
}

.content_desc {
  font-size: 14px;
  font-family: HnC-Thin, sans-serif;
}